html {
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:inherit;
}
body{
    height: 10000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    align-items: center;
    display: inline-flex;
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    color: #0c0e10;
}
.img-header{
    width: 950px;
    height: 450px;
    margin-top: 89px;
    object-fit: cover;
}
#header-top{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
    background-color: rgba(255,165,0,0);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 25px 70px;
    transition: background-color 0.5s;
}
#header-bottom{
    position: sticky;
    top: 0;
    padding: 25px 0;
    width: 50%;
    z-index: 801;
}
.button-header{
    display: flex;
    align-items: center;
}
.button-header .button{
    border: 2px solid #370b0b;
    background-color: transparent;
    padding: 7px 14px;
    margin: 0 10px;
    border-radius: 3px;
    color: #370b0b;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 250ms ease;
}
.button-header .button:hover{
    color: #fff;
    background-color: #370b0b;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.menu li{
    display: inline;
    padding: 0 20px;
}
.menu a{
    font-size: 15px;
    font-weight: 600;
    line-height: 150%;
    color: #0c0e10;
    text-decoration: none;
}
.menu a:hover{
    color: #000;
}
.container{
    width: 82%;
    border: 2px solid #cacaca;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
.container-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
}
.info-section{
    margin-bottom: 20px;
    font-size: 40px;
    color: #370b0b;
}
.text{
    text-indent: 40px;
    margin: 5px;
    text-align: justify;
    font-size: 20px;
    color: #370b0b;
}
.footer{
    background-color: rgba(30,144,255);
    width: 100%;
    padding-top: 60px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer .footer-left{
    width: 40%;
    display: grid;
    gap: 20px;
}
.footer .footer-right{
    width:30%;
}
.footer-ProFit{
    margin-bottom: 20px;
}
.icon{
    display: none;
}
.side-menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: fit-content;
    background-color: rgba(30,144,255);
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 200;
}
.side-menu ul{
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: grid;
    justify-content: space-around;
}
.side-menu ul li{
    margin: 10px 0;
}
.menu a,
.side-menu a{}
.button-header .button .side-menu .button{}
.button-header .button:hover, .side-menu .button:hover{}