@{
    ViewData["Title"] = "SiteInformation";
}
<div class="container-section">
    <h2 class="info-section"> Занимайтесь с нами!</h2>
    <p class="text">
        В здоровом теле-здоровый дух, это известно всем. Хотите поддерживать свое тело в форме, или привести в порядок?
        В нашем фитнес-центре ProFit вы сможете заниматься на различных тренажерах в свое удовольствие! 
        Цена за абонемент ниже, чем у конкурентов!
        Выбирай ProFit-получай профит!
    </p>
    <div class="card-container">
        <div class="card-wrapper">
            <div class="card">
                <img src="~/images/Фитнесс центр зал.jpg" alt="Фитнес зал">
                <h3>Современный спортзал</h3>
            </div>
            <div class="card">
                <img src="~/images/тренер.jpg" alt="ФРабота с тренером">
                <h3>Персональная работа с тренером</h3>
            </div>
            <div class="card">
                <img src="~/images/year.png" alt="Фитнес-центр">
                <h3>Доступные абонементы</h3>
            </div>
        </div>
    </div>
</div>
