<div class="container-section">
    <h2 class="info-section"> Занимайтесь с нами!</h2>
    <p class="text">
        В нашем фитнес-центре ProFit вы сможете заниматься на различных тренажерах в свое удовольствие! 
        Цена за абонемент ниже, чем у конкурентов!
        Выбирай ProFit-получай профит!
    </p>
</div>